html{
    margin: 0 auto;
    top: 0px;
    left: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
}
body{
    margin: 0 auto;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(36, 36, 36);
    padding-top:10%;
    
}
.container{
    float: left;
    width: 40%;
    color: white;
    margin-top:150px;
}
.spacer{
    float: left;
    width: 10%;
    height: 100%;
}
#banner{
    text-align: right;
}
#footer{
    position:fixed;
    bottom: 10px;
    left: 10px;
    color: rgba(255,255,255,0.3);
    font-size: 10px;
}
#logo{
    margin: 0 auto;
    position:relative;
    text-align: start;
    width: 100%;
    top: 3%;
    color: white;
    font-size: 24px;

}
#logo img{
    width: 20%;
    min-width: 200px;
}
#carousel{
    border-radius:4px;
    overflow: hidden;
}