html{
    margin: 0 auto;
    top: 0px;
    left: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
}
body{
    margin: 0 auto;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(36, 36, 36);
    
}
.container{
    float: left;
    width: 40%;
    color: white;
    margin-top:150px;
}
.spacer{
    float: left;
    width: 5%;
    height: 100%;
}
#banner{
    text-align: right;
}
#footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px;
}
#logo{
    margin: 0 auto;
    position:relative;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 24px;

}
#logo img{
    width: 20%;
    min-width: 200px;
}
#carousel{
    border-radius:4px;
    overflow: hidden;
}
#header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}